.voiton-varma {
  border: 2px solid black;
}

.card {
  height: 325px;
  width: 250px;
  border: solid 3px black;
  border-radius: 4px;
  padding: 5px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-number {
  font-size: 90px;
}

